html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
}

.link {
  cursor: pointer !important;
}

.link:hover {
  cursor: pointer !important;
}

input:focus {
  outline: none;
}

.modal-head {
  font-family: "Azeret Thin" !important;
}

.address {
  font-family: "Space Grotesk" !important;
  font-size: 1em !important;
}

.head {
  font-family: "Geostar Fill" !important;
  letter-spacing: 2px;
}

.audit {
  font-family: "Space Grotesk" !important;
  font-size: 1.2em !important;
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
}
*[data-hover] {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
}

*:hover {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
}

*[data-focus] {
  box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
}
