.heading {
  background: -webkit-linear-gradient(top, #eaeaea, #010101);
  background-clip: text;
  -webkit-text-fill-color: transparentize($color: #c8c8c8, $amount: 0.8);
}

.logo {
  background: -webkit-linear-gradient(top, #ccc9c9, #010101);
  background-clip: text;
  filter: brightness(200%);
  -webkit-text-fill-color: transparentize($color: #eadddd, $amount: 0.2);
}

.heading::selection {
  background: -webkit-linear-gradient(top, #070707, #f4f3f3);
  -webkit-text-fill-color: transparentize($color: #1a1212, $amount: 0.9);
}

.button {
  background: transparent !important;
  color: whitesmoke !important;
  padding: 10px 20px !important;
  border-radius: 15px !important;
  color: #f4ebeb !important;
  -webkit-text-fill-color: transparentize($color: #f5f1f1, $amount: 0.4);
  margin: 0px 100px !important;
  letter-spacing: 0.5px;
  font-family: "Space Grotesk";
  transition: width 1s ease-in-out !important;
  width: 15vw !important;
}

.button:hover {
  width: 20vw !important;
}

.arrow {
  transition: width 1s ease-in-out !important;
}
