$laser: "Laser" !important;
$pyro: "Porqge" !important;

@mixin header($filter, $font) {
  background-clip: text !important;
  -webkit-text-fill-color: transparentize($color: #c8c8c8, $amount: 0.8);
  font-family: $font;
  filter: brightness($filter) !important;
  letter-spacing: 1px !important;

  &::selection {
    background: -webkit-linear-gradient(top, #070707, #f4f3f3);
    -webkit-text-fill-color: transparentize($color: #1a1212, $amount: 0.9);
  }
}

.heading {
  @include header(180%, $laser);
  background: -webkit-linear-gradient(top, #c4f0ee, #1a0303);
}

.bugheader {
  @include header(150%, $laser);
  background: -webkit-linear-gradient(bottom, #b80b0b, #fbe7e7);
}

.fixheader {
  @include header(150%, $laser);
  background: -webkit-linear-gradient(top, #50e390, #b5e9b5);
}

.logo {
  @include header(400%, pyro);
  -webkit-text-fill-color: transparentize($color: #eadddd, $amount: 0.2);
}

.hero {
  width: 100% !important;
  height: 100vh !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.heroSub {
  width: 90vw !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
  overflow-x: none !important;
  height: 90vh !important;
}

.button {
  background: transparent !important;
  color: whitesmoke !important;
  padding: 10px 20px !important;
  border-radius: 15px !important;
  color: #f4ebeb !important;
  -webkit-text-fill-color: transparentize($color: #f5f1f1, $amount: 0.4);
  margin: 0px 100px !important;
  letter-spacing: 0.5px;
  font-family: "Space Grotesk";
  transition: width 1s ease-in-out !important;
  width: 15vw !important;
  &:hover {
    width: 20vw !important;
  }
}

.arrow {
  transition: width 1s ease-in-out !important;
}
