$border-color: #f6e8e8;
$placeholder-color: #7e7e7e;
$red-100: #fed7d7;
$red-50: #fff5f5;

.container {
  border: 1px solid #ffffff !important;
  box-shadow: 10px -10px 0 -2.5px #111, 10px -10px, 20px -20px 0 -2.5px #111,
    20px -20px;
}

.container:hover {
  top: -20px;
  left: 20px;
  box-shadow: 0px 0px 0 -2.5px transparent, 0px 0px,
    0px 0px 0 -2.5px transparent, 0px 0px;
}

.auditHeader {
  font-family: "Aeonik Light" !important;
  font-size: 1.2em !important;
  margin-top: 8px;
  letter-spacing: 1.4px;
  margin-bottom: 8px;
}

.userHeader {
  font-family: "Aeonik Light" !important;
  font-size: 1.25em !important;
  margin-top: 14px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.text {
  font-family: "Aeonik Light" !important;
  font-size: 1.25em !important;
  letter-spacing: 1px;
  margin: 5px;
}

.input {
  border-width: 1px;
  border-radius: 5px;
  border-color: $border-color !important;
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
    border-color: $border-color !important;
  }
  &:hover {
    box-shadow: none !important;
    border-color: $border-color !important;
  }
  &::placeholder {
    color: $placeholder-color !important;
  }
}

.auditInputs {
  border-radius: 10px !important;
  font-family: "Space Grotesk" !important;
  box-shadow: none !important;
  border: 1px solid $red-50 !important;
  color: $red-50 !important;
  font-size: 1.2em !important;
}

.auditInputs:focus {
  box-shadow: none !important;
  border: 1px solid $red-100 !important;
}
