$border-color: #f6e8e8;
$placeholder-color: #7e7e7e;
$red-100: #fed7d7;
$red-50: #fff5f5;
$aeonik: "Aeonik Light" !important;
$laser: "Laser" !important;
$grotesk: "Space Grotesk" !important;

@mixin headers($font, $spacing, $size, $mt, $mb) {
  font-family: $font !important;
  letter-spacing: $spacing !important;
  font-size: $size !important;
  margin-top: $mt !important;
  margin-bottom: $mb !important;
}

.container {
  border: 1px solid #ffffff !important;
  box-shadow: 10px -10px 0 -2.5px #111, 10px -10px, 20px -20px 0 -2.5px #111,
    20px -20px;

  &:hover {
    top: -20px;
    left: 20px;
    box-shadow: 0px 0px 0 -2.5px transparent, 0px 0px,
      0px 0px 0 -2.5px transparent, 0px 0px;
  }
}

.auditHeader {
  @include headers($aeonik, 1.4px, 1.2em, 8px, 8px);
}

.userHeader {
  @include headers($aeonik, 1px, 1.25em, 14px, 14px);
}

.text {
  @include headers($aeonik, 1px, 1.25em, 5px);
  margin-left: 5px;
  margin-right: 5px;
}

.input {
  border-width: 1px;
  border-radius: 5px;
  border-color: $border-color !important;
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
    border-color: $border-color !important;
  }
  &:hover {
    box-shadow: none !important;
    border-color: $border-color !important;
  }
  &::placeholder {
    color: $placeholder-color !important;
  }
}

.auditInputs {
  border-radius: 10px !important;
  font-family: "Space Grotesk" !important;
  box-shadow: none !important;
  border: 1px solid $red-50 !important;
  color: $red-50 !important;
  font-size: 1.2em !important;

  &:focus {
    box-shadow: none !important;
    border: 1px solid $red-100 !important;
  }
}
