.auditHeader {
  font-family: "Space Grotesk" !important;
  font-size: 1.4em !important;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

.userHeader {
  font-family: "Space Grotesk" !important;
  font-size: 1.25em !important;
  margin-top: 14px;
  margin-bottom: 14px;
}
