$size1: 180px;
$size2: 45px;
$color1: rgb(121, 103, 99);

.spinnerBox {
  width: 100vw;
  height: 60vh;
  margin-top: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pulseContainer {
  width: $size1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulseBubble {
  width: $size2;
  height: $size2;
  border-radius: 50%;
}

.pulseBubble1 {
  animation: pulse 0.4s ease 0s infinite alternate;
  background-color: $color1;
}
.pulseBubble2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
  background-color: $color1;
}
.pulseBubble3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
  background-color: $color1;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
